<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>To Do List</title>
</head>

<body>
    <form action="/toDoList" method="POST">
        <input type="text" name="item" placeholder="Add a todo..." />
        <button value="sumbit">Add todo</button>
    </form>
    <p>To Do List:</p>
    {{#todos}} {{^is_complete}}
    <div>
        <form action="/completed" method="POST">

            <button type="submit" class="mark-task" name="item" value="{{item}}">Mark as Complete</button>
        </form>
        <input class="task" value="{{item}}">
        <form action="/deleteOne" method="POST">
            <button name="item" value="{{item}}">Delete</button>
        </form>
    </div>
    {{/is_complete}} {{/todos}}
    <p class="completed-list">Completed Tasks:</p>
    <form action="/delete" method="POST">
        <button type="sumbit" name="item" value="{{item}}">Clear</button>
    </form>
    {{#todos}} {{#is_complete}}
    <p>{{item}}</p>
    {{/is_complete}} {{/todos}}
</body>

</html>