<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>To Do List</title>
</head>

<body>
    <form action="/toDoList" method="POST">
        <input type="text" name="item" placeholder="Add a todo..." />
        <button value="sumbit">Add todo</button>
    </form>
    <p>To Do List:</p>
    {{#todos}}
    <form action="/completed" method="POST">
        <div>
            <p class="task"><button type="submit" class="mark-task" name="item" value="{{item}}">Mark as Complete</button>{{item}}</p>
        </div>
    </form>{{/todos}}
    <p class="completed-list">Completed Tasks:</p>
    {{#todos}} {{#is_complete}}
    <p>{{item}}</p>
    {{/is_complete}} {{/todos}}
</body>

</html>